#nav:hover {
    background-color: goldenrod;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 750%;
    height: 75%;
}

#banner {
    color: black;
}

#image1 {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image2 {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}